@using Bookish.DataAccess
@model WebApplication.Models.LibraryModel;

@{
    ViewData["Title"] = "Search Page";
}

<div class="text-center">
    <h1 class="display-4">Search Results</h1>
    <p>You have searched for: @Model.SearchTerm</p>
    
    @{
        foreach (var book in Model.books)
        {
            <p>A book exists with this name! It has name: @book.Title</p>
        }
    }

</div>